[include]
  path = ~/.gitconfig.local
[init]
	defaultBranch = main
[core]
	editor = nvim
	excludesfile = ~/.gitignore.global
[commit]
  template = ~/.gitmessage.txt
  gpgSign = true
[color]
  ui = true
[diff]
  tool = nvimdiff
[difftool]
  prompt = false
[difftool "nvimdiff"]
  cmd = nvim -d $LOCAL $REMOTE
[alias]
  undo = reset HEAD~1 --mixed
  wip = !git add -A && git commit -m '<wip>: Commit checkpoint'
  wipe = !~/scripts/git/wipe.sh
  br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  lg = log --pretty=short -n 50 --graph --abbrev-commit
  lp = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
  ll = log -1 HEAD --stat
	alias = ! git config --get-regexp ^alias\\. | sed -e 's/^alias\\.\\([^ ]*\\)/\\x1B[33m\\1\\x1B[0m =/'\n
